<!-- <!DOCTYPE html>
<html>
<head>
  <title>Digit Drawing</title>
  <style>
    #canvas {
      border: 1px solid #000;
    }
  </style>
</head>
<body>
  <h1>Digit Drawing</h1>
  <canvas id="canvas" width="400" height="400"></canvas>
  <button id="clearBtn">Clear Drawing</button>
  <button id="saveBtn">Save Image</button>

  <hr>
  
  <h2>Upload and Predict</h2>
  <input type="file" id="uploadInput">
  <button id="predictBtn">Predict</button>
  <div id="predictionResult"></div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Digit Drawing</title>
  <style>
    #canvas {
      border: 1px solid #000;
    }
  </style>
</head>
<body>
  <h1>Digit Drawing</h1>
  <canvas id="canvas" width="400" height="400"></canvas>
  <button id="clearBtn">Clear Drawing</button>
  <button id="saveBtn">Save Image</button>

  <hr>
  
  <h2>Upload and Predict</h2>
  <input type="file" id="uploadInput" accept="image/png, image/jpeg">
  <button id="predictBtn">Predict</button>
  <div id="predictionResult"></div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
